/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cpl-latest-agendas {
	background-color: var(--wp-admin-theme-color);
	color: #fff;
	padding: 2px;
}
